.stars-rating					{list-style:none; margin:0px; padding:0px; width:150px; height:30px; position:relative; background:url(/stars/icons/stars.gif) top left repeat-x;}
.stars-rating li				{list-style:none; padding:0px; margin:0px; /*\*/ float:left; /* */}
.stars-rating li a				{display:block; width:30px; height:30px; text-decoration:none; text-indent:-9000px; z-index:20; position:absolute; padding:0px;}
.stars-rating li a:hover		{background:url(/stars/icons/stars.gif) left center; z-index:2; left:0px;}
.stars-rating a.stars-1			{left:0px;}
.stars-rating a.stars-1:hover	{width:30px;}
.stars-rating a.stars-2			{left:30px;}
.stars-rating a.stars-2:hover	{width:60px;}
.stars-rating a.stars-3			{left:60px;}
.stars-rating a.stars-3:hover	{width:90px;}
.stars-rating a.stars-4			{left:90px;}
.stars-rating a.stars-4:hover	{width:120px;}
.stars-rating a.stars-5			{left:120px;}
.stars-rating a.stars-5:hover	{width:150px;}
.stars-rating li.stars-current	{background:url(/stars/icons/stars.gif) left bottom; position:absolute; height:30px; display:block; text-indent:-9000px; z-index:1;}
